<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <div class="mb-6">
    <%= label f, :filegenerationdate, class: "tag-label" %>
    <%= text_input f, :filegenerationdate, class: "tag-input" %>
    <%= error_tag f, :filegenerationdate %>
  </div>

  <div class="mb-6">
    <%= label f, :entitylogicalid, class: "tag-label" %>
    <%= text_input f, :entitylogicalid, class: "tag-input" %>
    <%= error_tag f, :entitylogicalid %>
  </div>

  <div class="mb-6">
    <%= label f, :entityeureferencenumber, class: "tag-label" %>
    <%= text_input f, :entityeureferencenumber, class: "tag-input" %>
    <%= error_tag f, :entityeureferencenumber %>
  </div>

  <div class="mb-6">
    <%= label f, :entityunitednationid, class: "tag-label" %>
    <%= text_input f, :entityunitednationid, class: "tag-input" %>
    <%= error_tag f, :entityunitednationid %>
  </div>

  <div class="mb-6">
    <%= label f, :entitydesignationdate, class: "tag-label" %>
    <%= text_input f, :entitydesignationdate, class: "tag-input" %>
    <%= error_tag f, :entitydesignationdate %>
  </div>

  <div class="mb-6">
    <%= label f, :entitydesignationdetails, class: "tag-label" %>
    <%= text_input f, :entitydesignationdetails, class: "tag-input" %>
    <%= error_tag f, :entitydesignationdetails %>
  </div>

  <div class="mb-6">
    <%= label f, :entityremark, class: "tag-label" %>
    <%= textarea f, :entityremark, class: "tag-input" %>
    <%= error_tag f, :entityremark %>
  </div>

  <div class="mb-6">
    <%= label f, :entitysubjecttype, class: "tag-label" %>
    <%= text_input f, :entitysubjecttype, class: "tag-input" %>
    <%= error_tag f, :entitysubjecttype %>
  </div>

  <div class="mb-6">
    <%= label f, :entitysubjecttypeclassificationcode, class: "tag-label" %>
    <%= text_input f, :entitysubjecttypeclassificationcode, class: "tag-input" %>
    <%= error_tag f, :entitysubjecttypeclassificationcode %>
  </div>

  <div class="mb-6">
    <%= label f, :entityregulationtype, class: "tag-label" %>
    <%= text_input f, :entityregulationtype, class: "tag-input" %>
    <%= error_tag f, :entityregulationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :entityregulationorganisationtype, class: "tag-label" %>
    <%= text_input f, :entityregulationorganisationtype, class: "tag-input" %>
    <%= error_tag f, :entityregulationorganisationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :entityregulationpublicationdate, class: "tag-label" %>
    <%= text_input f, :entityregulationpublicationdate, class: "tag-input" %>
    <%= error_tag f, :entityregulationpublicationdate %>
  </div>

  <div class="mb-6">
    <%= label f, :entityregulationentryintoforcedate, class: "tag-label" %>
    <%= text_input f, :entityregulationentryintoforcedate, class: "tag-input" %>
    <%= error_tag f, :entityregulationentryintoforcedate %>
  </div>

  <div class="mb-6">
    <%= label f, :entityregulationnumbertitle, class: "tag-label" %>
    <%= text_input f, :entityregulationnumbertitle, class: "tag-input" %>
    <%= error_tag f, :entityregulationnumbertitle %>
  </div>

  <div class="mb-6">
    <%= label f, :entityregulationprogramme, class: "tag-label" %>
    <%= text_input f, :entityregulationprogramme, class: "tag-input" %>
    <%= error_tag f, :entityregulationprogramme %>
  </div>

  <div class="mb-6">
    <%= label f, :entityregulationpublicationurl, class: "tag-label" %>
    <%= text_input f, :entityregulationpublicationurl, class: "tag-input" %>
    <%= error_tag f, :entityregulationpublicationurl %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiaslastname, class: "tag-label" %>
    <%= text_input f, :namealiaslastname, class: "tag-input" %>
    <%= error_tag f, :namealiaslastname %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasfirstname, class: "tag-label" %>
    <%= text_input f, :namealiasfirstname, class: "tag-input" %>
    <%= error_tag f, :namealiasfirstname %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasmiddlename, class: "tag-label" %>
    <%= text_input f, :namealiasmiddlename, class: "tag-input" %>
    <%= error_tag f, :namealiasmiddlename %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiaswholename, class: "tag-label" %>
    <%= text_input f, :namealiaswholename, class: "tag-input" %>
    <%= error_tag f, :namealiaswholename %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasnamelanguage, class: "tag-label" %>
    <%= text_input f, :namealiasnamelanguage, class: "tag-input" %>
    <%= error_tag f, :namealiasnamelanguage %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasgender, class: "tag-label" %>
    <%= text_input f, :namealiasgender, class: "tag-input" %>
    <%= error_tag f, :namealiasgender %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiastitle, class: "tag-label" %>
    <%= text_input f, :namealiastitle, class: "tag-input" %>
    <%= error_tag f, :namealiastitle %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasfunction, class: "tag-label" %>
    <%= textarea f, :namealiasfunction, class: "tag-input" %>
    <%= error_tag f, :namealiasfunction %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiaslogicalid, class: "tag-label" %>
    <%= text_input f, :namealiaslogicalid, class: "tag-input" %>
    <%= error_tag f, :namealiaslogicalid %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasregulationlanguage, class: "tag-label" %>
    <%= text_input f, :namealiasregulationlanguage, class: "tag-input" %>
    <%= error_tag f, :namealiasregulationlanguage %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasremark, class: "tag-label" %>
    <%= textarea f, :namealiasremark, class: "tag-input" %>
    <%= error_tag f, :namealiasremark %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasregulationtype, class: "tag-label" %>
    <%= text_input f, :namealiasregulationtype, class: "tag-input" %>
    <%= error_tag f, :namealiasregulationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasregulationorganisationtype, class: "tag-label" %>
    <%= text_input f, :namealiasregulationorganisationtype, class: "tag-input" %>
    <%= error_tag f, :namealiasregulationorganisationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasregulationpublicationdate, class: "tag-label" %>
    <%= text_input f, :namealiasregulationpublicationdate, class: "tag-input" %>
    <%= error_tag f, :namealiasregulationpublicationdate %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasregulationentryintoforcedate, class: "tag-label" %>
    <%= text_input f, :namealiasregulationentryintoforcedate, class: "tag-input" %>
    <%= error_tag f, :namealiasregulationentryintoforcedate %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasregulationnumbertitle, class: "tag-label" %>
    <%= text_input f, :namealiasregulationnumbertitle, class: "tag-input" %>
    <%= error_tag f, :namealiasregulationnumbertitle %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasregulationprogramme, class: "tag-label" %>
    <%= text_input f, :namealiasregulationprogramme, class: "tag-input" %>
    <%= error_tag f, :namealiasregulationprogramme %>
  </div>

  <div class="mb-6">
    <%= label f, :namealiasregulationpublicationurl, class: "tag-label" %>
    <%= text_input f, :namealiasregulationpublicationurl, class: "tag-input" %>
    <%= error_tag f, :namealiasregulationpublicationurl %>
  </div>

  <div class="mb-6">
    <%= label f, :addresscity, class: "tag-label" %>
    <%= text_input f, :addresscity, class: "tag-input" %>
    <%= error_tag f, :addresscity %>
  </div>

  <div class="mb-6">
    <%= label f, :addressstreet, class: "tag-label" %>
    <%= text_input f, :addressstreet, class: "tag-input" %>
    <%= error_tag f, :addressstreet %>
  </div>

  <div class="mb-6">
    <%= label f, :addresspobox, class: "tag-label" %>
    <%= text_input f, :addresspobox, class: "tag-input" %>
    <%= error_tag f, :addresspobox %>
  </div>

  <div class="mb-6">
    <%= label f, :addresszipcode, class: "tag-label" %>
    <%= text_input f, :addresszipcode, class: "tag-input" %>
    <%= error_tag f, :addresszipcode %>
  </div>

  <div class="mb-6">
    <%= label f, :addressregion, class: "tag-label" %>
    <%= text_input f, :addressregion, class: "tag-input" %>
    <%= error_tag f, :addressregion %>
  </div>

  <div class="mb-6">
    <%= label f, :addressplace, class: "tag-label" %>
    <%= text_input f, :addressplace, class: "tag-input" %>
    <%= error_tag f, :addressplace %>
  </div>

  <div class="mb-6">
    <%= label f, :addressasatlistingtime, class: "tag-label" %>
    <%= text_input f, :addressasatlistingtime, class: "tag-input" %>
    <%= error_tag f, :addressasatlistingtime %>
  </div>

  <div class="mb-6">
    <%= label f, :addresscontactinfo, class: "tag-label" %>
    <%= textarea f, :addresscontactinfo, class: "tag-input" %>
    <%= error_tag f, :addresscontactinfo %>
  </div>

  <div class="mb-6">
    <%= label f, :addresscountryiso2code, class: "tag-label" %>
    <%= text_input f, :addresscountryiso2code, class: "tag-input" %>
    <%= error_tag f, :addresscountryiso2code %>
  </div>

  <div class="mb-6">
    <%= label f, :addresscountrydescription, class: "tag-label" %>
    <%= text_input f, :addresscountrydescription, class: "tag-input" %>
    <%= error_tag f, :addresscountrydescription %>
  </div>

  <div class="mb-6">
    <%= label f, :addresslogicalid, class: "tag-label" %>
    <%= text_input f, :addresslogicalid, class: "tag-input" %>
    <%= error_tag f, :addresslogicalid %>
  </div>

  <div class="mb-6">
    <%= label f, :addressregulationlanguage, class: "tag-label" %>
    <%= text_input f, :addressregulationlanguage, class: "tag-input" %>
    <%= error_tag f, :addressregulationlanguage %>
  </div>

  <div class="mb-6">
    <%= label f, :addressremark, class: "tag-label" %>
    <%= textarea f, :addressremark, class: "tag-input" %>
    <%= error_tag f, :addressremark %>
  </div>

  <div class="mb-6">
    <%= label f, :addressregulationtype, class: "tag-label" %>
    <%= text_input f, :addressregulationtype, class: "tag-input" %>
    <%= error_tag f, :addressregulationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :addressregulationorganisationtype, class: "tag-label" %>
    <%= text_input f, :addressregulationorganisationtype, class: "tag-input" %>
    <%= error_tag f, :addressregulationorganisationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :addressregulationpublicationdate, class: "tag-label" %>
    <%= text_input f, :addressregulationpublicationdate, class: "tag-input" %>
    <%= error_tag f, :addressregulationpublicationdate %>
  </div>

  <div class="mb-6">
    <%= label f, :addressregulationentryintoforcedate, class: "tag-label" %>
    <%= text_input f, :addressregulationentryintoforcedate, class: "tag-input" %>
    <%= error_tag f, :addressregulationentryintoforcedate %>
  </div>

  <div class="mb-6">
    <%= label f, :addressregulationnumbertitle, class: "tag-label" %>
    <%= text_input f, :addressregulationnumbertitle, class: "tag-input" %>
    <%= error_tag f, :addressregulationnumbertitle %>
  </div>

  <div class="mb-6">
    <%= label f, :addressregulationprogramme, class: "tag-label" %>
    <%= text_input f, :addressregulationprogramme, class: "tag-input" %>
    <%= error_tag f, :addressregulationprogramme %>
  </div>

  <div class="mb-6">
    <%= label f, :addressregulationpublicationurl, class: "tag-label" %>
    <%= text_input f, :addressregulationpublicationurl, class: "tag-input" %>
    <%= error_tag f, :addressregulationpublicationurl %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdatebirthdate, class: "tag-label" %>
    <%= text_input f, :birthdatebirthdate, class: "tag-input" %>
    <%= error_tag f, :birthdatebirthdate %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateday, class: "tag-label" %>
    <%= text_input f, :birthdateday, class: "tag-input" %>
    <%= error_tag f, :birthdateday %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdatemonth, class: "tag-label" %>
    <%= text_input f, :birthdatemonth, class: "tag-input" %>
    <%= error_tag f, :birthdatemonth %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateyear, class: "tag-label" %>
    <%= text_input f, :birthdateyear, class: "tag-input" %>
    <%= error_tag f, :birthdateyear %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateyearrangefrom, class: "tag-label" %>
    <%= text_input f, :birthdateyearrangefrom, class: "tag-input" %>
    <%= error_tag f, :birthdateyearrangefrom %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateyearrangeto, class: "tag-label" %>
    <%= text_input f, :birthdateyearrangeto, class: "tag-input" %>
    <%= error_tag f, :birthdateyearrangeto %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdatecirca, class: "tag-label" %>
    <%= text_input f, :birthdatecirca, class: "tag-input" %>
    <%= error_tag f, :birthdatecirca %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdatecalendartype, class: "tag-label" %>
    <%= text_input f, :birthdatecalendartype, class: "tag-input" %>
    <%= error_tag f, :birthdatecalendartype %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdatezipcode, class: "tag-label" %>
    <%= text_input f, :birthdatezipcode, class: "tag-input" %>
    <%= error_tag f, :birthdatezipcode %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateregion, class: "tag-label" %>
    <%= text_input f, :birthdateregion, class: "tag-input" %>
    <%= error_tag f, :birthdateregion %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateplace, class: "tag-label" %>
    <%= text_input f, :birthdateplace, class: "tag-input" %>
    <%= error_tag f, :birthdateplace %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdatecity, class: "tag-label" %>
    <%= text_input f, :birthdatecity, class: "tag-input" %>
    <%= error_tag f, :birthdatecity %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdatecountryiso2code, class: "tag-label" %>
    <%= text_input f, :birthdatecountryiso2code, class: "tag-input" %>
    <%= error_tag f, :birthdatecountryiso2code %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdatecountrydescription, class: "tag-label" %>
    <%= text_input f, :birthdatecountrydescription, class: "tag-input" %>
    <%= error_tag f, :birthdatecountrydescription %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdatelogicalid, class: "tag-label" %>
    <%= text_input f, :birthdatelogicalid, class: "tag-input" %>
    <%= error_tag f, :birthdatelogicalid %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateregulationlanguage, class: "tag-label" %>
    <%= text_input f, :birthdateregulationlanguage, class: "tag-input" %>
    <%= error_tag f, :birthdateregulationlanguage %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateremark, class: "tag-label" %>
    <%= text_input f, :birthdateremark, class: "tag-input" %>
    <%= error_tag f, :birthdateremark %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateregulationtype, class: "tag-label" %>
    <%= text_input f, :birthdateregulationtype, class: "tag-input" %>
    <%= error_tag f, :birthdateregulationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateregulationorganisationtype, class: "tag-label" %>
    <%= text_input f, :birthdateregulationorganisationtype, class: "tag-input" %>
    <%= error_tag f, :birthdateregulationorganisationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateregulationpublicationdate, class: "tag-label" %>
    <%= text_input f, :birthdateregulationpublicationdate, class: "tag-input" %>
    <%= error_tag f, :birthdateregulationpublicationdate %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateregulationentryintoforcedate, class: "tag-label" %>
    <%= text_input f, :birthdateregulationentryintoforcedate, class: "tag-input" %>
    <%= error_tag f, :birthdateregulationentryintoforcedate %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateregulationnumbertitle, class: "tag-label" %>
    <%= text_input f, :birthdateregulationnumbertitle, class: "tag-input" %>
    <%= error_tag f, :birthdateregulationnumbertitle %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateregulationprogramme, class: "tag-label" %>
    <%= text_input f, :birthdateregulationprogramme, class: "tag-input" %>
    <%= error_tag f, :birthdateregulationprogramme %>
  </div>

  <div class="mb-6">
    <%= label f, :birthdateregulationpublicationurl, class: "tag-label" %>
    <%= text_input f, :birthdateregulationpublicationurl, class: "tag-input" %>
    <%= error_tag f, :birthdateregulationpublicationurl %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationnumber, class: "tag-label" %>
    <%= textarea f, :identificationnumber, class: "tag-input" %>
    <%= error_tag f, :identificationnumber %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationdiplomatic, class: "tag-label" %>
    <%= text_input f, :identificationdiplomatic, class: "tag-input" %>
    <%= error_tag f, :identificationdiplomatic %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationknownexpired, class: "tag-label" %>
    <%= text_input f, :identificationknownexpired, class: "tag-input" %>
    <%= error_tag f, :identificationknownexpired %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationknownfalse, class: "tag-label" %>
    <%= text_input f, :identificationknownfalse, class: "tag-input" %>
    <%= error_tag f, :identificationknownfalse %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationreportedlost, class: "tag-label" %>
    <%= text_input f, :identificationreportedlost, class: "tag-input" %>
    <%= error_tag f, :identificationreportedlost %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationrevokedbyissuer, class: "tag-label" %>
    <%= text_input f, :identificationrevokedbyissuer, class: "tag-input" %>
    <%= error_tag f, :identificationrevokedbyissuer %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationissuedby, class: "tag-label" %>
    <%= text_input f, :identificationissuedby, class: "tag-input" %>
    <%= error_tag f, :identificationissuedby %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationissueddate, class: "tag-label" %>
    <%= text_input f, :identificationissueddate, class: "tag-input" %>
    <%= error_tag f, :identificationissueddate %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationvalidfrom, class: "tag-label" %>
    <%= text_input f, :identificationvalidfrom, class: "tag-input" %>
    <%= error_tag f, :identificationvalidfrom %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationvalidto, class: "tag-label" %>
    <%= text_input f, :identificationvalidto, class: "tag-input" %>
    <%= error_tag f, :identificationvalidto %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationlatinnumber, class: "tag-label" %>
    <%= text_input f, :identificationlatinnumber, class: "tag-input" %>
    <%= error_tag f, :identificationlatinnumber %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationnameondocument, class: "tag-label" %>
    <%= text_input f, :identificationnameondocument, class: "tag-input" %>
    <%= error_tag f, :identificationnameondocument %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationtypecode, class: "tag-label" %>
    <%= text_input f, :identificationtypecode, class: "tag-input" %>
    <%= error_tag f, :identificationtypecode %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationtypedescription, class: "tag-label" %>
    <%= text_input f, :identificationtypedescription, class: "tag-input" %>
    <%= error_tag f, :identificationtypedescription %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationregion, class: "tag-label" %>
    <%= text_input f, :identificationregion, class: "tag-input" %>
    <%= error_tag f, :identificationregion %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationcountryiso2code, class: "tag-label" %>
    <%= text_input f, :identificationcountryiso2code, class: "tag-input" %>
    <%= error_tag f, :identificationcountryiso2code %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationcountrydescription, class: "tag-label" %>
    <%= text_input f, :identificationcountrydescription, class: "tag-input" %>
    <%= error_tag f, :identificationcountrydescription %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationlogicalid, class: "tag-label" %>
    <%= text_input f, :identificationlogicalid, class: "tag-input" %>
    <%= error_tag f, :identificationlogicalid %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationregulationlanguage, class: "tag-label" %>
    <%= text_input f, :identificationregulationlanguage, class: "tag-input" %>
    <%= error_tag f, :identificationregulationlanguage %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationremark, class: "tag-label" %>
    <%= textarea f, :identificationremark, class: "tag-input" %>
    <%= error_tag f, :identificationremark %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationregulationtype, class: "tag-label" %>
    <%= text_input f, :identificationregulationtype, class: "tag-input" %>
    <%= error_tag f, :identificationregulationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationregulationorganisationtype, class: "tag-label" %>
    <%= text_input f, :identificationregulationorganisationtype, class: "tag-input" %>
    <%= error_tag f, :identificationregulationorganisationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationregulationpublicationdate, class: "tag-label" %>
    <%= text_input f, :identificationregulationpublicationdate, class: "tag-input" %>
    <%= error_tag f, :identificationregulationpublicationdate %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationregulationentryintoforcedate, class: "tag-label" %>
    <%= text_input f, :identificationregulationentryintoforcedate, class: "tag-input" %>
    <%= error_tag f, :identificationregulationentryintoforcedate %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationregulationnumbertitle, class: "tag-label" %>
    <%= text_input f, :identificationregulationnumbertitle, class: "tag-input" %>
    <%= error_tag f, :identificationregulationnumbertitle %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationregulationprogramme, class: "tag-label" %>
    <%= text_input f, :identificationregulationprogramme, class: "tag-input" %>
    <%= error_tag f, :identificationregulationprogramme %>
  </div>

  <div class="mb-6">
    <%= label f, :identificationregulationpublicationurl, class: "tag-label" %>
    <%= text_input f, :identificationregulationpublicationurl, class: "tag-input" %>
    <%= error_tag f, :identificationregulationpublicationurl %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipregion, class: "tag-label" %>
    <%= text_input f, :citizenshipregion, class: "tag-input" %>
    <%= error_tag f, :citizenshipregion %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipcountryiso2code, class: "tag-label" %>
    <%= text_input f, :citizenshipcountryiso2code, class: "tag-input" %>
    <%= error_tag f, :citizenshipcountryiso2code %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipcountrydescription, class: "tag-label" %>
    <%= text_input f, :citizenshipcountrydescription, class: "tag-input" %>
    <%= error_tag f, :citizenshipcountrydescription %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshiplogicalid, class: "tag-label" %>
    <%= text_input f, :citizenshiplogicalid, class: "tag-input" %>
    <%= error_tag f, :citizenshiplogicalid %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipregulationlanguage, class: "tag-label" %>
    <%= text_input f, :citizenshipregulationlanguage, class: "tag-input" %>
    <%= error_tag f, :citizenshipregulationlanguage %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipremark, class: "tag-label" %>
    <%= text_input f, :citizenshipremark, class: "tag-input" %>
    <%= error_tag f, :citizenshipremark %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipregulationtype, class: "tag-label" %>
    <%= text_input f, :citizenshipregulationtype, class: "tag-input" %>
    <%= error_tag f, :citizenshipregulationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipregulationorganisationtype, class: "tag-label" %>
    <%= text_input f, :citizenshipregulationorganisationtype, class: "tag-input" %>
    <%= error_tag f, :citizenshipregulationorganisationtype %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipregulationpublicationdate, class: "tag-label" %>
    <%= text_input f, :citizenshipregulationpublicationdate, class: "tag-input" %>
    <%= error_tag f, :citizenshipregulationpublicationdate %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipregulationentryintoforcedate, class: "tag-label" %>
    <%= text_input f, :citizenshipregulationentryintoforcedate, class: "tag-input" %>
    <%= error_tag f, :citizenshipregulationentryintoforcedate %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipregulationnumbertitle, class: "tag-label" %>
    <%= text_input f, :citizenshipregulationnumbertitle, class: "tag-input" %>
    <%= error_tag f, :citizenshipregulationnumbertitle %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipregulationprogramme, class: "tag-label" %>
    <%= text_input f, :citizenshipregulationprogramme, class: "tag-input" %>
    <%= error_tag f, :citizenshipregulationprogramme %>
  </div>

  <div class="mb-6">
    <%= label f, :citizenshipregulationpublicationurl, class: "tag-label" %>
    <%= text_input f, :citizenshipregulationpublicationurl, class: "tag-input" %>
    <%= error_tag f, :citizenshipregulationpublicationurl %>
  </div>

  <div class="mt-8 mb-2">
    <%= submit "Save", class: "btn btn-primary btn-sm" %>
    <%= link "Back", to: Routes.person_eu_path(@conn, :index), class: "ml-2 btn btn-link btn-sm" %>
  </div>
<% end %>
