<div class="flex flex-wrap">
  <div class="w-full md:w-2/3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          Listing Personseu
        </h5>
        <%= link to: Routes.person_eu_path(@conn, :new), class: "btn btn-icon btn-sm btn-light" do %>
          <svg fill="currentColor" width="24" height="24" viewBox="0 0 20 20" stroke-width="2"><path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
        <% end %>
      </div>
      <%= live_render @conn, SanctionsWeb.PersonEUListLive %>
    </div>
  </div>
</div>
