<div class="flex flex-wrap">
  <div class="w-full md:w-2/3">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">
          New Person eu
        </h5>
      </div>
      <div class="card-body">
        <%= render "form.html", Map.put(assigns, :action, Routes.person_eu_path(@conn, :create)) %>
      </div>
    </div>
  </div>
</div>
