<div class="flex flex-wrap">
  <div class="w-full md:w-2/3">
    <div class="card shadow">
      <div class="card-header">
        <h5 class="card-title">
          Show Person eu
        </h5>
      </div>
      <div class="card-body prose">

        <div>
          <strong>Filegenerationdate:</strong>
          <%= @person_eu.filegenerationdate %>
        </div>

        <div>
          <strong>Entitylogicalid:</strong>
          <%= @person_eu.entitylogicalid %>
        </div>

        <div>
          <strong>Entityeureferencenumber:</strong>
          <%= @person_eu.entityeureferencenumber %>
        </div>

        <div>
          <strong>Entityunitednationid:</strong>
          <%= @person_eu.entityunitednationid %>
        </div>

        <div>
          <strong>Entitydesignationdate:</strong>
          <%= @person_eu.entitydesignationdate %>
        </div>

        <div>
          <strong>Entitydesignationdetails:</strong>
          <%= @person_eu.entitydesignationdetails %>
        </div>

        <div>
          <strong>Entityremark:</strong>
          <%= @person_eu.entityremark %>
        </div>

        <div>
          <strong>Entitysubjecttype:</strong>
          <%= @person_eu.entitysubjecttype %>
        </div>

        <div>
          <strong>Entitysubjecttypeclassificationcode:</strong>
          <%= @person_eu.entitysubjecttypeclassificationcode %>
        </div>

        <div>
          <strong>Entityregulationtype:</strong>
          <%= @person_eu.entityregulationtype %>
        </div>

        <div>
          <strong>Entityregulationorganisationtype:</strong>
          <%= @person_eu.entityregulationorganisationtype %>
        </div>

        <div>
          <strong>Entityregulationpublicationdate:</strong>
          <%= @person_eu.entityregulationpublicationdate %>
        </div>

        <div>
          <strong>Entityregulationentryintoforcedate:</strong>
          <%= @person_eu.entityregulationentryintoforcedate %>
        </div>

        <div>
          <strong>Entityregulationnumbertitle:</strong>
          <%= @person_eu.entityregulationnumbertitle %>
        </div>

        <div>
          <strong>Entityregulationprogramme:</strong>
          <%= @person_eu.entityregulationprogramme %>
        </div>

        <div>
          <strong>Entityregulationpublicationurl:</strong>
          <%= @person_eu.entityregulationpublicationurl %>
        </div>

        <div>
          <strong>Namealiaslastname:</strong>
          <%= @person_eu.namealiaslastname %>
        </div>

        <div>
          <strong>Namealiasfirstname:</strong>
          <%= @person_eu.namealiasfirstname %>
        </div>

        <div>
          <strong>Namealiasmiddlename:</strong>
          <%= @person_eu.namealiasmiddlename %>
        </div>

        <div>
          <strong>Namealiaswholename:</strong>
          <%= @person_eu.namealiaswholename %>
        </div>

        <div>
          <strong>Namealiasnamelanguage:</strong>
          <%= @person_eu.namealiasnamelanguage %>
        </div>

        <div>
          <strong>Namealiasgender:</strong>
          <%= @person_eu.namealiasgender %>
        </div>

        <div>
          <strong>Namealiastitle:</strong>
          <%= @person_eu.namealiastitle %>
        </div>

        <div>
          <strong>Namealiasfunction:</strong>
          <%= @person_eu.namealiasfunction %>
        </div>

        <div>
          <strong>Namealiaslogicalid:</strong>
          <%= @person_eu.namealiaslogicalid %>
        </div>

        <div>
          <strong>Namealiasregulationlanguage:</strong>
          <%= @person_eu.namealiasregulationlanguage %>
        </div>

        <div>
          <strong>Namealiasremark:</strong>
          <%= @person_eu.namealiasremark %>
        </div>

        <div>
          <strong>Namealiasregulationtype:</strong>
          <%= @person_eu.namealiasregulationtype %>
        </div>

        <div>
          <strong>Namealiasregulationorganisationtype:</strong>
          <%= @person_eu.namealiasregulationorganisationtype %>
        </div>

        <div>
          <strong>Namealiasregulationpublicationdate:</strong>
          <%= @person_eu.namealiasregulationpublicationdate %>
        </div>

        <div>
          <strong>Namealiasregulationentryintoforcedate:</strong>
          <%= @person_eu.namealiasregulationentryintoforcedate %>
        </div>

        <div>
          <strong>Namealiasregulationnumbertitle:</strong>
          <%= @person_eu.namealiasregulationnumbertitle %>
        </div>

        <div>
          <strong>Namealiasregulationprogramme:</strong>
          <%= @person_eu.namealiasregulationprogramme %>
        </div>

        <div>
          <strong>Namealiasregulationpublicationurl:</strong>
          <%= @person_eu.namealiasregulationpublicationurl %>
        </div>

        <div>
          <strong>Addresscity:</strong>
          <%= @person_eu.addresscity %>
        </div>

        <div>
          <strong>Addressstreet:</strong>
          <%= @person_eu.addressstreet %>
        </div>

        <div>
          <strong>Addresspobox:</strong>
          <%= @person_eu.addresspobox %>
        </div>

        <div>
          <strong>Addresszipcode:</strong>
          <%= @person_eu.addresszipcode %>
        </div>

        <div>
          <strong>Addressregion:</strong>
          <%= @person_eu.addressregion %>
        </div>

        <div>
          <strong>Addressplace:</strong>
          <%= @person_eu.addressplace %>
        </div>

        <div>
          <strong>Addressasatlistingtime:</strong>
          <%= @person_eu.addressasatlistingtime %>
        </div>

        <div>
          <strong>Addresscontactinfo:</strong>
          <%= @person_eu.addresscontactinfo %>
        </div>

        <div>
          <strong>Addresscountryiso2code:</strong>
          <%= @person_eu.addresscountryiso2code %>
        </div>

        <div>
          <strong>Addresscountrydescription:</strong>
          <%= @person_eu.addresscountrydescription %>
        </div>

        <div>
          <strong>Addresslogicalid:</strong>
          <%= @person_eu.addresslogicalid %>
        </div>

        <div>
          <strong>Addressregulationlanguage:</strong>
          <%= @person_eu.addressregulationlanguage %>
        </div>

        <div>
          <strong>Addressremark:</strong>
          <%= @person_eu.addressremark %>
        </div>

        <div>
          <strong>Addressregulationtype:</strong>
          <%= @person_eu.addressregulationtype %>
        </div>

        <div>
          <strong>Addressregulationorganisationtype:</strong>
          <%= @person_eu.addressregulationorganisationtype %>
        </div>

        <div>
          <strong>Addressregulationpublicationdate:</strong>
          <%= @person_eu.addressregulationpublicationdate %>
        </div>

        <div>
          <strong>Addressregulationentryintoforcedate:</strong>
          <%= @person_eu.addressregulationentryintoforcedate %>
        </div>

        <div>
          <strong>Addressregulationnumbertitle:</strong>
          <%= @person_eu.addressregulationnumbertitle %>
        </div>

        <div>
          <strong>Addressregulationprogramme:</strong>
          <%= @person_eu.addressregulationprogramme %>
        </div>

        <div>
          <strong>Addressregulationpublicationurl:</strong>
          <%= @person_eu.addressregulationpublicationurl %>
        </div>

        <div>
          <strong>Birthdatebirthdate:</strong>
          <%= @person_eu.birthdatebirthdate %>
        </div>

        <div>
          <strong>Birthdateday:</strong>
          <%= @person_eu.birthdateday %>
        </div>

        <div>
          <strong>Birthdatemonth:</strong>
          <%= @person_eu.birthdatemonth %>
        </div>

        <div>
          <strong>Birthdateyear:</strong>
          <%= @person_eu.birthdateyear %>
        </div>

        <div>
          <strong>Birthdateyearrangefrom:</strong>
          <%= @person_eu.birthdateyearrangefrom %>
        </div>

        <div>
          <strong>Birthdateyearrangeto:</strong>
          <%= @person_eu.birthdateyearrangeto %>
        </div>

        <div>
          <strong>Birthdatecirca:</strong>
          <%= @person_eu.birthdatecirca %>
        </div>

        <div>
          <strong>Birthdatecalendartype:</strong>
          <%= @person_eu.birthdatecalendartype %>
        </div>

        <div>
          <strong>Birthdatezipcode:</strong>
          <%= @person_eu.birthdatezipcode %>
        </div>

        <div>
          <strong>Birthdateregion:</strong>
          <%= @person_eu.birthdateregion %>
        </div>

        <div>
          <strong>Birthdateplace:</strong>
          <%= @person_eu.birthdateplace %>
        </div>

        <div>
          <strong>Birthdatecity:</strong>
          <%= @person_eu.birthdatecity %>
        </div>

        <div>
          <strong>Birthdatecountryiso2code:</strong>
          <%= @person_eu.birthdatecountryiso2code %>
        </div>

        <div>
          <strong>Birthdatecountrydescription:</strong>
          <%= @person_eu.birthdatecountrydescription %>
        </div>

        <div>
          <strong>Birthdatelogicalid:</strong>
          <%= @person_eu.birthdatelogicalid %>
        </div>

        <div>
          <strong>Birthdateregulationlanguage:</strong>
          <%= @person_eu.birthdateregulationlanguage %>
        </div>

        <div>
          <strong>Birthdateremark:</strong>
          <%= @person_eu.birthdateremark %>
        </div>

        <div>
          <strong>Birthdateregulationtype:</strong>
          <%= @person_eu.birthdateregulationtype %>
        </div>

        <div>
          <strong>Birthdateregulationorganisationtype:</strong>
          <%= @person_eu.birthdateregulationorganisationtype %>
        </div>

        <div>
          <strong>Birthdateregulationpublicationdate:</strong>
          <%= @person_eu.birthdateregulationpublicationdate %>
        </div>

        <div>
          <strong>Birthdateregulationentryintoforcedate:</strong>
          <%= @person_eu.birthdateregulationentryintoforcedate %>
        </div>

        <div>
          <strong>Birthdateregulationnumbertitle:</strong>
          <%= @person_eu.birthdateregulationnumbertitle %>
        </div>

        <div>
          <strong>Birthdateregulationprogramme:</strong>
          <%= @person_eu.birthdateregulationprogramme %>
        </div>

        <div>
          <strong>Birthdateregulationpublicationurl:</strong>
          <%= @person_eu.birthdateregulationpublicationurl %>
        </div>

        <div>
          <strong>Identificationnumber:</strong>
          <%= @person_eu.identificationnumber %>
        </div>

        <div>
          <strong>Identificationdiplomatic:</strong>
          <%= @person_eu.identificationdiplomatic %>
        </div>

        <div>
          <strong>Identificationknownexpired:</strong>
          <%= @person_eu.identificationknownexpired %>
        </div>

        <div>
          <strong>Identificationknownfalse:</strong>
          <%= @person_eu.identificationknownfalse %>
        </div>

        <div>
          <strong>Identificationreportedlost:</strong>
          <%= @person_eu.identificationreportedlost %>
        </div>

        <div>
          <strong>Identificationrevokedbyissuer:</strong>
          <%= @person_eu.identificationrevokedbyissuer %>
        </div>

        <div>
          <strong>Identificationissuedby:</strong>
          <%= @person_eu.identificationissuedby %>
        </div>

        <div>
          <strong>Identificationissueddate:</strong>
          <%= @person_eu.identificationissueddate %>
        </div>

        <div>
          <strong>Identificationvalidfrom:</strong>
          <%= @person_eu.identificationvalidfrom %>
        </div>

        <div>
          <strong>Identificationvalidto:</strong>
          <%= @person_eu.identificationvalidto %>
        </div>

        <div>
          <strong>Identificationlatinnumber:</strong>
          <%= @person_eu.identificationlatinnumber %>
        </div>

        <div>
          <strong>Identificationnameondocument:</strong>
          <%= @person_eu.identificationnameondocument %>
        </div>

        <div>
          <strong>Identificationtypecode:</strong>
          <%= @person_eu.identificationtypecode %>
        </div>

        <div>
          <strong>Identificationtypedescription:</strong>
          <%= @person_eu.identificationtypedescription %>
        </div>

        <div>
          <strong>Identificationregion:</strong>
          <%= @person_eu.identificationregion %>
        </div>

        <div>
          <strong>Identificationcountryiso2code:</strong>
          <%= @person_eu.identificationcountryiso2code %>
        </div>

        <div>
          <strong>Identificationcountrydescription:</strong>
          <%= @person_eu.identificationcountrydescription %>
        </div>

        <div>
          <strong>Identificationlogicalid:</strong>
          <%= @person_eu.identificationlogicalid %>
        </div>

        <div>
          <strong>Identificationregulationlanguage:</strong>
          <%= @person_eu.identificationregulationlanguage %>
        </div>

        <div>
          <strong>Identificationremark:</strong>
          <%= @person_eu.identificationremark %>
        </div>

        <div>
          <strong>Identificationregulationtype:</strong>
          <%= @person_eu.identificationregulationtype %>
        </div>

        <div>
          <strong>Identificationregulationorganisationtype:</strong>
          <%= @person_eu.identificationregulationorganisationtype %>
        </div>

        <div>
          <strong>Identificationregulationpublicationdate:</strong>
          <%= @person_eu.identificationregulationpublicationdate %>
        </div>

        <div>
          <strong>Identificationregulationentryintoforcedate:</strong>
          <%= @person_eu.identificationregulationentryintoforcedate %>
        </div>

        <div>
          <strong>Identificationregulationnumbertitle:</strong>
          <%= @person_eu.identificationregulationnumbertitle %>
        </div>

        <div>
          <strong>Identificationregulationprogramme:</strong>
          <%= @person_eu.identificationregulationprogramme %>
        </div>

        <div>
          <strong>Identificationregulationpublicationurl:</strong>
          <%= @person_eu.identificationregulationpublicationurl %>
        </div>

        <div>
          <strong>Citizenshipregion:</strong>
          <%= @person_eu.citizenshipregion %>
        </div>

        <div>
          <strong>Citizenshipcountryiso2code:</strong>
          <%= @person_eu.citizenshipcountryiso2code %>
        </div>

        <div>
          <strong>Citizenshipcountrydescription:</strong>
          <%= @person_eu.citizenshipcountrydescription %>
        </div>

        <div>
          <strong>Citizenshiplogicalid:</strong>
          <%= @person_eu.citizenshiplogicalid %>
        </div>

        <div>
          <strong>Citizenshipregulationlanguage:</strong>
          <%= @person_eu.citizenshipregulationlanguage %>
        </div>

        <div>
          <strong>Citizenshipremark:</strong>
          <%= @person_eu.citizenshipremark %>
        </div>

        <div>
          <strong>Citizenshipregulationtype:</strong>
          <%= @person_eu.citizenshipregulationtype %>
        </div>

        <div>
          <strong>Citizenshipregulationorganisationtype:</strong>
          <%= @person_eu.citizenshipregulationorganisationtype %>
        </div>

        <div>
          <strong>Citizenshipregulationpublicationdate:</strong>
          <%= @person_eu.citizenshipregulationpublicationdate %>
        </div>

        <div>
          <strong>Citizenshipregulationentryintoforcedate:</strong>
          <%= @person_eu.citizenshipregulationentryintoforcedate %>
        </div>

        <div>
          <strong>Citizenshipregulationnumbertitle:</strong>
          <%= @person_eu.citizenshipregulationnumbertitle %>
        </div>

        <div>
          <strong>Citizenshipregulationprogramme:</strong>
          <%= @person_eu.citizenshipregulationprogramme %>
        </div>

        <div>
          <strong>Citizenshipregulationpublicationurl:</strong>
          <%= @person_eu.citizenshipregulationpublicationurl %>
        </div>

      </div>
      <div class="card-footer">
        <%= link "Edit", to: Routes.person_eu_path(@conn, :edit, @person_eu), class: "btn btn-link btn-sm" %>
        <%= link "Back", to: Routes.person_eu_path(@conn, :index), class: "btn btn-link btn-sm" %>
      </div>
    </div>
  </div>
</div>
